learn-jakartaee-jaxws/learn-jakartaee-jaxws-stubs/src/main/resources/META-INF/services/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:aircraft="https://learnjaxws.github.io/learn/webservice/soap/aircraft/1.0.0"
	xmlns:msg="https://learnjaxws.github.io/learn/webservice/soap/msg/1.0.0"
	xmlns:svc="https://learnjaxws.github.io/learn/webservice/soap"
	targetNamespace="https://learnjaxws.github.io/learn/webservice/soap">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="https://learnjaxws.github.io/learn/webservice/soap">
			<xsd:import schemaLocation="messages.xsd" namespace="https://learnjaxws.github.io/learn/webservice/soap/msg/1.0.0"/>
			<xsd:element name="PingMessage" type="xsd:string" />
			<xsd:element name="GetAircraftType" type="msg:GetAircraftType" />
			<xsd:element name="ShowAircraftType" type="msg:ShowAircraftType" />
			<xsd:element name="UpdateAircraftType" type="msg:UpdateAircraftType" />
			<xsd:element name="AcknowledgeAircraftType" type="msg:AcknowledgeAircraftType" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="PingRequest">
		<wsdl:part name="PingRequest" element="svc:PingMessage" />
	</wsdl:message>
	
	<wsdl:message name="PingResponse">
		<wsdl:part name="PingResponse" element="svc:PingMessage" />
	</wsdl:message>

	<wsdl:message name="GetAircraftRequest">
		<wsdl:part name="GetAircraftType" element="svc:GetAircraftType" />
	</wsdl:message>

	<wsdl:message name="ShowAircraftResponse">
		<wsdl:part name="ShowAircraftType" element="svc:ShowAircraftType" />
	</wsdl:message>
	
	<wsdl:message name="UpdateAircraftRequest">
		<wsdl:part name="UpdateAircraftType" element="svc:UpdateAircraftType" />
	</wsdl:message>

	<wsdl:message name="AcknowledgeAircraftResponse">
		<wsdl:part name="AcknowledgeAircraftType" element="svc:AcknowledgeAircraftType" />
	</wsdl:message>

	<wsdl:portType name="AircraftInterface">
		<wsdl:operation name="Ping">
			<wsdl:input message="svc:PingRequest" />
			<wsdl:output message="svc:PingResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetAircraft">
			<wsdl:input message="svc:GetAircraftRequest" />
			<wsdl:output message="svc:ShowAircraftResponse" />
		</wsdl:operation>
		<wsdl:operation name="UpdateAircraft">
			<wsdl:input message="svc:UpdateAircraftRequest" />
			<wsdl:output message="svc:AcknowledgeAircraftResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AircraftInterfaceBinding" type="svc:AircraftInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Ping" >
			<soap:operation soapAction="Ping" style="document"/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAircraft">
			<soap:operation soapAction="GetAircraft" style="document"/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateAircraft">
			<soap:operation soapAction="UpdateAircraft" style="document"/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AircraftService">
		<wsdl:port binding="svc:AircraftInterfaceBinding" name="AircraftInterfaceBinding">
			<soap:address location="http://localhost:8080/ws/aircraft" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>